<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blind Coding: A Coding Club event for APOGEE</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
	{% load static %}
	<link rel="stylesheet" href="../../static/css/style-1.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
	<body>
		<div class="hamburger">
			<span class="line"></span>
			<span class="line"></span>
			<span class="line"></span>
		</div>
		<div id="sidenav">
			<ul>
				<li>
					<span class="plus">
						<span class="v-line"></span>
						<span class="h-line"></span>
					</span>
					<a onclick="getQuestion(0)">Question 1</a>
				</li>
				<li>
					<span class="plus">
						<span class="v-line"></span>
						<span class="h-line"></span>
					</span>
					<a onclick="getQuestion(1)">Question 2</a>
				</li>
				<li>
					<span class="plus">
						<span class="v-line"></span>
						<span class="h-line"></span>
					</span>
					<a onclick="getQuestion(2)">Question 3</a>
				</li>
				<li>
					<span class="plus">
						<span class="v-line"></span>
						<span class="h-line"></span>
					</span>
					<a onclick="getQuestion(3)">Question 4</a>
				</li>
				<li>
					<span class="plus">
						<span class="v-line"></span>
						<span class="h-line"></span>
					</span>
					<a onclick="getQuestion(4)">Question 5</a>
				</li>
			</ul>
		</div>
		<div class="backdrop">
			</div>
			<div class="instructions">
				<div id="close" onclick="closeInstructions()">
					<span class="horiz"></span>
					<span class="verti"></span>
				</div>
				<h3>Instructions</h3>
				<h5>- There are five questions of varying difficulties and points associated with them. <br> Score associated are 20, 40, 60, 80, 100 points respectively.</h5>
				<h5>- For every question, the first time you submit the correct answer, you are awarded points corresponding to that question and the time penalty is 
					also calculated which takes into consideration the time taken until last successful solve together with the number of wrong attempts</h5>
				<h5>- Standings will be based on the points scored and in cases of clashes, time penalties are compared and one with lesser time penalty is better ranker</h5>
				<h5>- Every time you give a correct answer, the question is automatically changed and code editor is reset.</h5>
				<h5>- You have only two attempts throughout the event to see the code you have written. To see the code, press Show Code button near Run button.</h5>
				<h5>- Don't try to open up the console or changing the window/tab. You'll be logged out immediately</h5>
			</div>
	  <nav id="header">
		<ul>
			<li onclick="showInstructions()">Instructions</li>
			<li>Contact</li>
			<a href="/logout"><li>Logout</li></a>
		</ul>
	  </nav> 
	  <h3 class="title">Blind Coding</h3>
	  <div id="main">
		  	<div class="qno"></div>
			<div class="left">
				<h5>Question 1</h5>
					Loading.....
			</div>
			<div class="right">

				<div class="language">
					<div class="input-field col s12">
						<select id="langSelect">
							<option value="" disabled selected class="blue-text text-darken-2">Choose your language</option>
							<!-- <option value="c">C</option>
							<option value="java">Java</option>
							<option value='cpp'>C++</option>
							<option value='cpp14'>C++14</option>
							<option value='python2'>Python2</option>
							<option value='python3'>Python3</option> -->
						</select>
					</div>
				</div>

				<div class="editor ">
					<textarea id="codeInput" class="no-copy-paste noselect" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="// Write your code here!"></textarea>
				</div>

				<div class="outputArea">
					<textarea id="compilerOutput" class="no-copy-paste noselect" autocorrect="off" autocapitalize="off" spellcheck="false" disabled placeholder="// Output will be shown here when you click 'Run'!"></textarea>
				</div>

				<div class="options">
					<button class="bttn" id="runBtn" onclick="runCode()">Run</button>
					<button class="bttn" id="showCode">Show Code</button>
					<!-- <div class="time-left">10</div> -->
				</div>

			</div>
	  </div>
	  <div class="scoreboard">
		<span><i class="material-icons">star_border</i><span id="score">00</span></span>
		<span><i class="material-icons">timer</i><span id="timer">00:00</span></span>
	  </div>
	  <div class="leaderboard-icon">
		<i class="material-icons li">insert_chart</i>
	  </div>
	  <div class="leaderboard">
			<table>
				<thead>
					<tr>
						<th class="rank hdrank">Rank (Your Rank: <span id="myrank"></span>)</th>
						<th class="name">Name</th>
						<th class="score">Points</th>
					</tr>
				</thead>
				<tbody id="leaderboard-body">
					<tr id="leaderboard-loader">
						<th class="rank"></th>
						<th class="name">Loading...</th>
						<th class="score"></th>
					</tr>
				</tbody>
				<tfoot>
					<tr>
					  <th></th>
					  <th id="userRank">1</th>
					</tr>
				</tfoot>
		  </table>
	  </div>
	  <div id="footer">
			<p>&copy; Coding Club ,2019</p>
			<img src="../../static/assets/club-logo.svg" class="club-logo">
		</div>
		<template id="leaderboard-row">
			<tr>
			  <td class="rank"></td>
			  <td class="name"></td>
			  <td class="score"></td>
			</tr>
		</template>
	<script src="/static/js/app.js"></script>
	<script src="/static/js/script.js" type="text/javascript"></script>


    <script>
		!function () {
			function detectDevTool(allow) {
				if (isNaN(+allow)) allow = 100;
				var start = +new Date();
				debugger;
				var end = +new Date();
				if (isNaN(start) || isNaN(end) || end - start > allow) {
				}
			}
			if (window.attachEvent) {
				if (document.readyState === "complete" || document.readyState === "interactive") {
					detectDevTool();
					window.attachEvent('onresize', detectDevTool);
					window.attachEvent('onmousemove', detectDevTool);
					window.attachEvent('onfocus', detectDevTool);
					window.attachEvent('onblur', detectDevTool);
				} else {
					setTimeout(argument.callee, 0);
				}
			} else {
				window.addEventListener('load', detectDevTool);
				window.addEventListener('resize', detectDevTool);
				window.addEventListener('mousemove', detectDevTool);
				window.addEventListener('focus', detectDevTool);
				window.addEventListener('blur', detectDevTool);
			}
		}();
	</script>
</body>
</html>
